# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\dell\Desktop\Projects\ReactJS-Spring-Boot-CRUD-Full-Stack-App\ClientWs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
